@model IEnumerable<SiteMapGenerator.Dal.Models.Dal.ArchiveOfRequest>
@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("ProcessingUserRequest", "Home", FormMethod.Get, new { enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <hr />
                        <div class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-sm-3 text-right control-label col-form-label">
                                    Your vanity URL
                                </label>
                                <div class="col-md-7">
                                    <input type="text" name="url" class="form-control" placeholder="example: https://medium.com/">
                                </div>

                                <input class="btn btn-primary mb-2" value="Button" type="submit" />

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NameUrl)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NameUrl)
                            </td>
                            <td>
                                @* @Html.ActionLink("Result", "UserQueryResult", new { id = item.IdArchiveOfRequests }) |*@
                                @Html.ActionLink("Arxiv", "ArxivDetails", new { id = item.IdArchiveOfRequests })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $('#group input:checkbox').click(function () {
        if ($(this).is(':checked')) {
            $('#group input:checkbox').not(this).prop('checked', false);
        }
    });
</script>